<!-- templates/registration/password_reset_complete.html -->
{% extends 'base.html' %}

{% block title %}Password reset complete{% endblock %} <!--message that shows when your password reset is successfully-->

{% block content %}
<h1>Password reset complete</h1>
<p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
    <!--message above tells your password was successfully and shows the link for you to login with new password-->
{% endblock %}